a{
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

body, li {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}







* {
  box-sizing: border-box;
}


.button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  &:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
  
}



.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent; 
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px,50px,0);
  opacity: 0;
  span:nth-child(1) {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg) translate3d(14px, -4px, 0);
    transform-origin: 100%;
  }
}

.loader.active {
  animation: loading 2s ease-in-out; 
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px,4px,0);
  transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
  transition-delay: .2s;
}

@keyframes loading {
  30% {
    opacity:1; 
  }
  
  85% {
    opacity:1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity:1;
    transform: rotate(1080deg);
     border-color: #1c89ff;
  }
}


.subtitle-1{
	animation: fade-in 1s;
}

.subtitle-2 {
	animation: fade-in 3s;
}

.subtitle-3 {
	animation: fade-in 5s;
}
@keyframes fade-in {
0%{opacity: 0%;}
100%{opacity: 100%}
}




